//h1 hello FixMeNyc this is the start of something hottt. ok this is fun!

a(href='http://www.fixmenyc.com/')
    img(src='https://static.wixstatic.com/media/9cfe48_5bb99e74dc484e1b8bb9fc9713f3d880.png/v1/fill/w_477,h_270,al_c,usm_0.66_1.00_0.01/9cfe48_5bb99e74dc484e1b8bb9fc9713f3d880.png')